<div class="container d-flex justify-content-center">
  <div class="col-md-6 border mt-5 bg-light shadow">
    <h1>Registre um novo usuario</h1>
    <hr><br>
    <form (ngSubmit)="onSubmit()" ngNativeValidate>
      <div class="form-group">
        <label for="username">Usuário</label>
        <input [(ngModel)]="user.username" name="username" type="username" required class="form-control" id="username"
          placeholder="insira seu usuário">
      </div>      

      <div class="form-group">
        <label for="username">Senha</label>
        <input type="password" [(ngModel)]="user.password" name="password" placeholder="senha"
          class="form-control" required #password="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
        <div *ngIf="password.invalid && password.touched" class="alert alert-danger mt-2">
          <div *ngIf="password.errors.required"> Insira uma senha! </div>
          <div *ngIf="password.errors.pattern"> A senha deve conter pelo menos um número, uma letra maiúscula, uma minúscula e no minimo 8 caracteres. </div>
        </div>
      </div>

      <div class="form-group">
        <label for="username">Confirmar senha</label>
        <input type="password" [(ngModel)]="passwdConfirm" name="confirmpassword" placeholder="confirmar senha" class="form-control" required #confirmpassword="ngModel" pattern="{{ password.value }}" />
        <div *ngIf=" confirmpassword.invalid && confirmpassword.touched" class="alert alert-danger mt-2">
          <div *ngIf="confirmpassword.errors.required"> Confirme sua senha! </div>
          <div *ngIf="confirmpassword.errors.pattern"> As senhas não são as mesmas!</div>
        </div>
       </div>      

      <div class="d-flex justify-content-around pb-3">
        <button type="submit" class="btn btn-success">Entrar</button>
        <button (click)='cancel()' class="btn btn-danger">Cancelar</button>
      </div>
    </form>
  </div>
</div>
